.pageTitle {
    color: red;
    animation: wheelHueColor 10s infinite;
}

@keyframes wheelHueColor {

    from,
    to {
        color: rgb(236, 100, 75);
    }

    10% {
        color: rgb(219, 10, 91);
    }

    20% {
        color: rgb(174, 168, 211);
    }

    30% {
        color: rgb(89, 171, 227);
    }

    40% {
        color: rgb(37, 116, 169);
    }

    50% {
        color: rgb(3, 201, 169);
    }

    60% {
        color: rgb(22, 160, 133);
    }

    70% {
        color: rgb(233, 212, 96);
    }

    80% {
        color: rgb(243, 156, 18);
    }

    90% {
        color: rgb(236, 240, 241);
    }
}

.pageLink{
    width: 248px;
    height: 32px;
    padding-left: 8px;
    border: 1px solid black;
    border-radius: 0 8px 8px 0;
    line-height: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-image: linear-gradient(to bottom, grey, black);
    cursor: pointer;
}

.pageLink > a {
    color: white;
}